<div class="jb-formin">
<%= form_for(@shopping_cart) do |f| %>
  <% if @shopping_cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping_cart.errors.count, "error") %> prohibited this shopping_cart from being saved:</h2>

      <ul>
      <% @shopping_cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total_cost %>
    <%= f.number_field :total_cost %>
  </div>
  <div class="field">
    <%= f.label :order_number %>
    <%= f.number_field :order_number %>
  </div>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit 'Update Shopping Cart', :class => "button" %>
  </div>
<% end %>
</div>