<p id="notice"><%= notice %></p>

<!-- line items and quantity -->
<% @shopping_cart.summary.each {|lineitem, quantity| %>
	<p><%= pluralize(quantity, lineitem) %></p> <% } %>
<p>
  <strong>Total Cost:</strong>
  $<%= @shopping_cart.total_cost %>
</p>
<p>
  <strong>User:</strong>
  <%= @shopping_cart.user.name %>
</p>

<%= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %> |
<%= link_to 'Back', shopping_carts_path %>

<form>
<!-- payment link -->
<%= link_to 'Pay', '/payment/new'%>
</form>
