<p id="notice"><%= notice %></p>


<% @line_items.each do |lineitem| %>
	<% if lineitem.shopping_cart_id == @shopping_cart.id %>
		<p><%= lineitem.item.name %>: <%= lineitem.quantity_purchased %>: $<%= lineitem.item.cost %></p>
		<% end %>
<% end %>
<p>
  <strong>Total Cost:</strong>
  <%= @shopping_cart.total_cost %>
</p>
<p>
  <strong>User:</strong>
  <%= @shopping_cart.user.name %>
</p>

<%= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %> |
<%= link_to 'Back', shopping_carts_path %>

<form>

<%= link_to 'Pay', '/payment/new'%>

</form>
