<p id="notice"><%= notice %></p>


<% @line_items.each do |lineitem| %>
	<% if lineitem.shopping_cart_id == @shopping_cart.id %>
		<p><%= lineitem.item.name %>: <%= lineitem.quantity_purchased %></p>
		<% end %>
<% end %>
<p>
<<<<<<< HEAD
  <strong>Quantity:</strong>
=======
  <strong>Total Cost:</strong>
>>>>>>> 8ba2393ca04c9911ef2def8dc4455b15c1ac1d04
  <%= @shopping_cart.total_cost %>
</p>

<p>
  <strong>Cart Id:</strong>
  <%= @shopping_cart.id %>
</p>

<p>
  <strong>User:</strong>
  <%= @shopping_cart.user_id %>
</p>

<%= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %> |
<%= link_to 'Back', shopping_carts_path %>

<form>

<%= link_to 'Pay', '/payment/new'%>

</form>
