
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @user.postcode %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @user.image, :class => "user-img" %>
</p>

<p>
  <strong>Past Orders:</strong>

  <% @current_user.shopping_carts.each do |sc| %>
    <%= sc.items.name %>
  <% end %>
</p>

<p>
  <strong>Past Yums:</strong>
  <% @yums_by_me.each do |yum| %>
    <br>
    <%= yum.name %>
  <% end %>
</p>

<% if @current_user.id.to_s == params[:id] %>
  <%= link_to 'Edit', edit_user_path(@user) %>
  <%= link_to 'Back', users_path %>
<% end %>
