
<div class="row">
	<div class="column column-4">
	<h1> Current Yums </h1>
	<% @yum_items.each do |yum| %>
		<%= link_to yum.name, item_path(yum.id) %>
		<p> Number of Servings left : <%= yum.servings %> </p>
	<% end %>
	</div>
	<div class="column column-4">
	<h2> Past Yums </h2>
		<% @past_yums.each do |yum| %>
			<%= link_to yum.name, item_path(yum.id) %>
		<% end %>
	
	<br>
	<br>

		<% if @current_user.address == "" %>
			<%= link_to "New YUM!", new_item_path, :data => {:confirm => "Must have current address in order to create a new item"} %>
		<% else %>
			<%= link_to "New YUM!", new_item_path %>
		<% end %>
	</div>
	<div class="column column-4">
		<h2> Who's on their way?! : </h2>
	</div>
</div>