<div class="row">

	<div class="column column-4">
		<h2> Current Yums </h2>
		<% if @yum_items.empty? %>
			<p> No Current Yums </p>
			<% else %>
				<% @yum_items.each do |yum| %>
					<%= link_to yum.name, item_path(yum.id) %>
					<p> Number of Servings left : <%= yum.servings %> </p>
				
			<% end %>
		<% end %>
	</div>
	<div class="column column-4">
	
		<h2> Past Yums </h2>
		<% if @past_yums.empty? %>
			<p> No previous Yums </p>
		<% else %>
			<% @past_yums.each do |yum| %>
				<%= link_to yum.name, item_path(yum.id) %>
			<% end %>
		<% end %>
	
	<br>
	<% if @current_user.address == "" %>
		<br>
		<%= link_to "Add New YUM!", new_item_path, :data => {:confirm => "Must have current address in orderto create a new item"}, :class => "new-yum" %>
	<% else %>
		<br>
		<%= link_to "Add New YUM!", new_item_path, :class => "new-yum" %>
	<% end %>
	</div>

	<div class="column column-4">
		<h2> Who's on their way?! : </h2>
		<% if @on_the_way.empty? %>
			<p> No one due to arrive for some Yums </p>
		<% else %>
			<p> Click when delivery is done </p>
			<% @on_the_way.each do |eater| %>
				<% correct_word = pluralize(eater[3], eater[2]) %>
				<ul class="done">
                    <li class="done"><%= link_to eater[0].capitalize, user_path(eater[1]) %> for <%= correct_word %>.</li>
                </ul>
			<% end %>
		<% end %>

	</div>
</div>
