<h1> Current Yums </h1>
<% @yum_items.each do |yum| %>
	<%= link_to yum.name, item_path(yum.id) %>
	<p> Number of Servings left : <%= yum.servings %> </p>
<% end %>

<% unless @past_yums.empty? %>
	<h2> Past Yums </h2>
	<% @past_yums.each do |yum| %>
		<%= link_to yum.name, item_path(yum.id) %>
	<% end %>
<% end %>

<br>
<br>

<% if @current_user.address == "" %>
	<%= link_to "New YUM!", new_item_path, :data => {:confirm => "Must have current address in order to create a new item"} %>
<% else %>
	<%= link_to "New YUM!", new_item_path %>
<% end %>

<% unless @on_the_way.empty? %>
	<h2> Who's on their way?! : </h2>
	<% @on_the_way.each do |array| %>
		<% correct_word = pluralize(array[3], array[2]) %>
		<p><%= link_to array[0].capitalize, user_path(array[1]) %> for <%= correct_word %>.</p>
	<% end %>
<% end %>
