<div class="row homepage">

<div class="column column-4">
	
	
	<h1>ANYTHING BUT PIZZA</h1>
	<hr>
	<p><%= image_tag 'svg/cut.svg', class: 'svg' %></p>
	<hr>
	<h3> About Us: We love helping bring the community together by asking you to feed them. </h3>
</div>

<div class="column column-4">
	

	<h1>SOME THINGS COOKING</h1>
	<hr>
	<p><%= image_tag 'svg/cut.svg', class: 'svg' %></p>
	<hr>
	
	<% @top5[0..4].each do |top| %>
		<p><%= link_to "#{top.name if top.name} from postcode #{top.user.postcode if top.user}", item_path(top) %></p>
	<% end %>
	<%= link_to 'View More', categories_path %>
	
</div>

<div class="column column-4">
	<% if @current_user.present? %>
		<h1> WHAT'S IN YOUR AREA?! </h1>
		<hr>
		<p><%= image_tag 'svg/cut.svg', class: 'svg' %></p>
		<hr>
		<p><%= link_to "Categories", categories_path %></p>
	<% end %>
	<% unless @current_user.present? %>
		<h1> SIGN UP  </h1>
		<hr>
		<p><%= image_tag 'svg/cut.svg', class: 'svg' %></p>
		<hr>
		<%= link_to "Signup", new_user_path %>
	<% end %>
	<% if @current_user.present? %>
		<p><%= link_to "Your Past Orders and Yums", user_path(@current_user) %></p>
	<% end %>
</div>

	
</div>