
<%= form_for @item, :html => { :multipart => true } do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %> 
    <%= f.select :category_id, Category.all.map { |category| [category.types, category.id ] }, :selected => flash[:category_id] %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :servings %>
    <%= f.number_field :servings, :min => 1 %>
  </div>
  <div class="field">
    <%= f.label :cost %>
    <%= f.number_field :cost, :min => 1 %>
  </div>
  <div class="field">
    <%= f.label :description %> 
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <%= f.text_area :tags %>
  </div>
  <div class="field">
    <%= f.label :file %>
    <%= f.cl_image_upload :file %>
  </div>
  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  

  <div class="actions">
    <%= f.submit 'SUBMIT', :class => "button" %>
  </div>

<% end %>








