<p id="notice"><%= notice %></p>

<h1>Listing Items in <%= @current_user.postcode %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Servings</th>
      <th>Cost</th>
      <th>Description</th>
      <th>Tags</th>
      <th>Image</th>
      <th>Active</th>
      <th>User</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.servings_left %></td>
        <td><%= item.cost %></td>
        <td><%= item.description %></td>
        <td><%= item.tags %></td>
        <td><%= item.image %></td>
        <td><%= item.active %></td>
        <td><%= item.user_id %></td>
        <td><%= item.category_id %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




















<%= link_to 'New Item', new_item_path %>
