<div class="jb-formin">
  <h1>New Yum!</h1>
  <h3>Please select or create a category</h3>
  <button class="button" id="create-category">Create New Category</button>

  <div class="jb-formin" id="show-create-category">

    <h3> If your category is not showing above, add it below. </h3>
    <%= form_for(@category) do |f| %>
      <% if @category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

          <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :types %><br>
        <%= f.text_field :types %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>

  <%= render 'form' %>
</div>

<%= link_to 'Back', items_path %>
