<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Servings:</strong>
  <%= @item.servings %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @item.cost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @item.tags %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @item.image, :class => "item-img" %>
</p>

<p>
  <strong>Active:</strong>
  <%= @item.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category.types %>
</p>

<<<<<<< HEAD
=======
<% unless @other_items.count == 0 %>
  <h2> Other Items by this Cook:</h2>
  <% @item.user.items.each do |item|  %>
    <% unless item.active == false %>
      <%= link_to item.name, item_path %>
    <% end %>
  <% end %>
<% end %>

<br>
<br>
<% if @current_user.id == @item.user_id %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Back', items_path %>
<% end %>

>>>>>>> 7f45cb74a57c6896417602c320b5dc1ad5a25d65
<div class="price_line">
  <span class="price"><%= @item.cost %></span> 
  <%= button_to 'Add to Cart', line_items_path(:line_item =>{:item_id => @item.id, :cost => @item.cost}), {method: :post}%>
</div>
<<<<<<< HEAD

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
=======
>>>>>>> 7f45cb74a57c6896417602c320b5dc1ad5a25d65
