<p id="notice"><%= notice %></p>

<form action="">
<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Servings:</strong>
  <%= @item.servings_left %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @item.cost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @item.tags %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @item.image, :class => "item-img" %>
</p>

<p>
  <strong>Active:</strong>
  <%= @item.active %>
</p>

<p>
  <strong>Cook:</strong>
  <%= @item.user.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category.types %>
</p>

<%= @shopping_cart %>

<% unless @other_items.count == 0 %>
  <h2> Other Items by this Cook:</h2>
  <% @item.user.items.each do |item|  %>
    <% unless item.active == false %>
      <%= link_to item.name, item_path %>
    <% end %>
  <% end %>
<% end %>

<br>
<br>
<% if @current_user.id == @item.user_id %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Back', items_path %>
<% end %>

<% unless @current_user.id == @item.user_id %>
  <% unless @item.active == false %>
    <% unless @item.servings_left <= 0 %>
    <div class="price_line">
      <span class="price"><%= @item.cost %></span> 
        <%= link_to 'Add to Cart', line_items_path(:line_item =>{:item_id => @item.id, :shopping_cart_id => session[:shopping_cart_id], :quantity_purchased => 1, :cost => @item.cost}), {method: :post}%>
    </div>
    <% end %>
  <% end %>
<% end %>

</form>
