<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Servings:</strong>
  <%= @item.servings_left %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @item.cost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @item.tags %>
</p>

<p><%= image_tag @item.image, :class => "item-img" %></p>

<p>
  <strong>Active:</strong>
  <%= @item.active %>
</p>

<p>
  <strong>Cook:</strong>
  <%= link_to @item.user.name, user_path(@item.user.id) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category.types %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @item.user.postcode %>
</p>


<hr>


<% unless @other_items.count == 0 %>
  <h2> Other Items by this Cook:</h2>
  <% @other_items.each do |item|  %>
    <% unless item.active == false %>
      <%= link_to item.name, item_path(item.id) %> |
    <% end %>
  <% end %>
<% end %>

<!-- only the cook can edit or delete the item -->
<% if @current_user.id == @item.user_id %>
  <%= link_to 'Edit', edit_item_path(@item) %>
  <%= link_to 'Destroy', item_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<!-- users, other than the cook, can add the item to their shopping cart only if the item is active and quantity is more than 0 -->
  <% unless @current_user.id == @item.user_id %>
    <% unless @item.active == false %>
      <% unless @item.servings_left <= 0 %>
        <div class="price_line">
        <h3>Want some yums?!</h3>
          <%= form_tag line_items_path(:line_item =>{:item_id => @item.id, :shopping_cart_id => session[:shopping_cart_id], :cost => @item.cost}), {method: :post} do %>
            <%= number_field_tag 'quantity', nil, in: 1...(@item.servings_left + 1)  %>
            <%= button_tag 'Add to Cart'%>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>



