<p id="notice"><%= notice %></p>

<h1>Listing Categories from 
  <% unless params[:postcode].nil? %>
    <%= params[:postcode] %>
  <% else %>
    <%= @current_user.postcode %>
  <% end %>
</h1>


<% if @in_area.count == 0 %>
  <p>Sorry, no food is currently available in your area. Search a postcode above! Or, go get a pizza. </p>
<% end %>


<div class="column column-4">
<% @in_area.each do |thing| %>
  <% if thing.types %>

    <div class="category-list">
      <ul><%= thing.types %>
        <% @list_items.each do |item|%>
          <% unless item.active == false %>
            <% if item.category.types == thing.types  %>
              <li><%= link_to item.name, item_path(item.id) %></li>

            <% end %>
          <% end %>
        <% end %>
      </ul>
      <hr>
    </div>
  <% end %>
<% end %>


<% if @current_user && @current_user.admin? %>
  <table>
    <thead>
      <tr>
        <th>Types</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.types %></td>
          <td><%= link_to 'Show', category %></td>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'New Category', new_category_path %>
<% end %>

</div>