<!DOCTYPE html>
<html>
<head>
  <title>AnythingButPizza</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<% if @current_user.present? %>
		<%= link_to "Edit Profile", edit_user_path(@current_user) %>
		<%= link_to "Logout(#{ @current_user.name })", login_path, :method => "delete", :data => {:confirm => "Are you sure you wish to logout?"} %>
		<form action="/categories">
		<input type="text" placeholder="Search Postcode" id="nav-search" name="postcode">
		<button id="nav-search-btn">Search</button>
		</form>
	<% else %>
		<%= link_to "Login", login_path %>
		<%= link_to "New User", new_user_path %>
	<% end %>
</nav>
<div id="container">
<%= yield %>
</div>
</body>
</html>
