<!DOCTYPE html>
<html>
<head>
  <title>Anything But Pizza</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="row">

    <div class="mobile-nav">
         <div class="menu-btn" id="menu-btn">
        <div></div>
        <span></span>
        <span></span>
        <span></span>
         </div>

         <div class="responsive-menu">
            <ul>
            <% if @current_user.present? %>
			<li> <%= link_to "Edit Profile", edit_user_path(@current_user) %></li>
			<li><%= link_to "Logout(#{ @current_user.name })", login_path, :method => "delete", :data => {:confirm => "Are you sure you wish to logout?"} %></li>
			<li><%= link_to "Wanna Cook?", cook_path %></li>
			<li><%= link_to "Wanna Eat?", categories_path %></li>

			<li><%= link_to "Food in your postcode", categories_path %></li>
		<% else %>
			<li><%= link_to "Login", login_path %></li>
			<li><%= link_to "New User", new_user_path %></li>
		<% end %>
		 </ul>
         </div>
    </div>
    <nav class="column column-10">
        <div class="desktop-nav">
            <ul>
            <% if @current_user.present? %>
			<li> <%= link_to "Edit Profile", edit_user_path(@current_user) %></li>
			<li><%= link_to "Logout(#{ @current_user.name })", login_path, :method => "delete", :data => {:confirm => "Are you sure you wish to logout?"} %></li>
			<li><%= link_to "Wanna Cook?", cook_path %></li>
			<li><%= link_to "Wanna Eat?", categories_path %></li>

			<li><%= link_to "Food in your postcode", categories_path %></li>
		<% else %>
			<li><%= link_to "Login", login_path %></li>
			<li><%= link_to "New User", new_user_path %></li>
		<% end %>
		 </ul>
        </div>
    </nav>

   

    <div class="title"><img src="/assets/Pizza-50-edit.png" alt=""></div>
</header>
<% if @current_user.present? %>
	<div class="search blue">
		    <form action="/categories">
					<input type="text" class="search blue" placeholder="Search Postcode" id="nav-search" name="postcode">
					<button class="searchButton blue" id="nav-search-btn">Find Food</button>
			</form>
	 </div> 
	 <% else %>
	 <div class="banner">
    	<h1>ANYTHING BUT PIZZA!</h1>
	</div>
	 
<% end %>


<div class="container">

	<%= yield %>
</div>
</body>
</html>
