<!DOCTYPE html>
<html>
<head>
  <title>Anything But Pizza</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="row">

    <div class="mobile-nav">
    	<div class="menu-btn" id="menu-btn">
        <div></div>
        <span></span>
        <span></span>
        <span></span>
        </div>

        <div class="responsive-menu">
        	<ul>
            <% if @current_user.present? %>
				<li><%= link_to "Welcome #{ @current_user.name }!(logout)", login_path, :method => "delete", :data => {:confirm => "Are you sure you wish to logout?"} %></li>

					<li><div class="vertical-bar"></div></li>
					<li> 
						<%= link_to root_path do %>
							<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="57px" height="57px" viewBox="0 0 547.596 547.596" style="enable-background:new 0 0 547.596 547.596;" xml:space="preserve"><g>
							<path d="M540.76,254.788L294.506,38.216c-11.475-10.098-30.064-10.098-41.386,0L6.943,254.788
							c-11.475,10.098-8.415,18.284,6.885,18.284h75.964v221.773c0,12.087,9.945,22.108,22.108,22.108h92.947V371.067
							c0-12.087,9.945-22.108,22.109-22.108h93.865c12.239,0,22.108,9.792,22.108,22.108v145.886h92.947
							c12.24,0,22.108-9.945,22.108-22.108v-221.85h75.965C549.021,272.995,552.081,264.886,540.76,254.788z"/>
							</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
						<% end %>
					</li>
					<li> 
						<%= link_to user_path(@current_user) do %>
						<svg version="1.1" id="svg2" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg"
				 		xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="57.125px" height="57.125px" viewBox="-25.125 -25.125 57.125 57.125" enable-background="new -25.125 -25.125 57.125 57.125" xml:space="preserve"> <g id="background"> <rect fill="none" width="32" height="32"/></g>
						<g id="user_x5F_profile_x5F_edit">
						<path d="M-1.749,0.75c3.175,0,5.75-2.575,5.75-5.75s-2.575-5.75-5.75-5.75S-7.499-8.175-7.499-5S-4.924,0.75-1.749,0.75z M15.501-4.915v-12.184l-8.03-8.027h-26.47v46.001h34.5v-0.088C21.969,20.072,27,14.598,27,7.938
						C27,1.278,21.969-4.199,15.501-4.915z M6.873-21.656L12.03-16.5H6.873V-21.656z M-16.124,18v-40.253H4.001v8.627h8.625v8.711 C7.627-4.362,3.501-0.963,1.878,3.625c-5.121,0-12.252,0-12.252,0s-2.875,0-2.875,2.875c0,1.438,0,8.625,0,8.625H3.309 C4.035,16.212,4.926,17.181,5.942,18H-16.124z M14.063,17.999C8.507,17.987,4.01,13.493,4.001,7.938 C4.01,2.381,8.507-2.116,14.063-2.125c5.556,0.009,10.051,4.506,10.062,10.062C24.114,13.493,19.619,17.987,14.063,17.999z"/>
						<polygon points="12.625,13.688 8.312,13.688 8.312,9.375 	"/>
						<rect x="10.418" y="3.45" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -0.056 12.8638)" width="10.165" height="6.099"/></g>
						<text transform="matrix(1 0 0 1 -21.375 31)" text-align="center"font-family="'Roboto'" font-size="10">PROFILE</text>
						</svg>
				<% end %>
				</li>		
				<li> <%= link_to cook_path do %>
					
						<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="57px" height="57px" viewBox="0 0 380.719 380.719" enable-background="new 0 0 380.719 380.719" xml:space="preserve"><g><g>
						<path d="M236.437,188.578c-11.375,11.821-26.439,19.104-43.016,19.104c-17.01,0-32.455-7.659-43.921-20.031 c-43.859,14.127-51.64,48.768-51.64,61.84c0,16.603,0,37,0,37h186.262c0,0,0-10.125,0-27.514 C284.122,245.258,279.261,204.97,236.437,188.578z"/>
						<path d="M144.46,84.22v44.074c0,2.854,1.88,5.219,4.45,6.084c0,0.153-0.026,0.28-0.026,0.424c0,23.007,12.14,42.557,29.132,50.093 c0.132,0.071,0.275,0.123,0.411,0.193c1.342,0.56,2.711,1.076,4.118,1.495c0.289,0.087,0.564,0.183,0.853,0.263 c1.29,0.35,2.597,0.62,3.912,0.848c0.367,0.061,0.735,0.148,1.098,0.193c1.647,0.218,3.313,0.358,5.014,0.358 c1.684,0,3.332-0.131,4.967-0.349c0.35-0.045,0.682-0.132,1.005-0.184c1.338-0.219,2.668-0.49,3.961-0.848 c0.246-0.07,0.482-0.157,0.718-0.219c1.433-0.42,2.833-0.927,4.195-1.504c0.089-0.035,0.175-0.079,0.264-0.123 c17.153-7.432,29.428-27.078,29.428-50.216c0-0.065,0-0.126,0-0.188c3.148-0.451,5.613-3.047,5.613-6.321V80.863 c7.853-3.943,14.462-9.369,18.404-16.787c8.123-15.265,8.753-30.05,1.793-41.634c-6.941-11.549-20.494-18.164-37.203-18.164 c-11.941,0-22.634,5.237-31.396,11.873c-7.816-8.66-22.92-16.555-39.047-16.135c-10.417,0.271-25.185,4.127-36.437,20.996 c-5.801,8.673-7.576,17.857-5.29,27.278C118.729,66.096,136.84,79.329,144.46,84.22z M130.501,28.225 c6.544-9.81,15.274-14.924,25.929-15.191c11.619-0.271,23.34,5.517,28.971,11.729c-8.87,8.979-14.234,17.665-14.689,18.426 c-1.854,3.06-0.879,7.051,2.189,8.922c3.073,1.863,7.073,0.896,8.944-2.181c0.197-0.324,20.197-32.634,44.712-32.634 c12.023,0,21.509,4.314,26.037,11.842c4.512,7.501,3.751,17.735-2.133,28.821c-10.78,20.288-56.803,21.111-73.638,19.711 c-3.571-0.31-6.732,2.374-7.017,5.955c-0.307,3.585,2.352,6.732,5.937,7.029c0.722,0.062,5.63,0.446,12.817,0.446 c10.963,0,27.208-0.909,41.984-5.22v35.903h-73.058V80.555c0-2.374-1.29-4.546-3.357-5.705 c-0.236-0.114-23.056-13.005-27.086-29.669C125.64,39.381,126.768,33.829,130.501,28.225z"/></g></g>
						<text transform="matrix(1 0 0 1 7.8232 350.8652)" font-family="'Roboto'" font-size="54">WANNA COOK?</text>
						</svg>
					
					<% end %>
				</li>
				
				<li>
					<%= link_to categories_path do %>
							<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="57px" height="57px" viewBox="0 0 380.721 380.721" enable-background="new 0 0 380.721 380.721" xml:space="preserve"><g><g>
						<path d="M192.8,23.168c-68.908,0-124.761,55.853-124.761,124.762c0,49.65,29.078,92.394,71.062,112.474l3.905-75.455
							c0,0-7.346-2.411-8.954-3.196c-15.579-6.862-26.896-27.069-26.896-53.293c0-28.617,22.193-53.267,43.65-53.47
							c0.027,0,0.027,0,0.045,0c0.009,0,0.027,0,0.035,0c21.462,0.203,43.656,24.852,43.656,53.47c0,26.225-11.332,46.423-26.88,53.293
							c-0.121,0.054-9.024,3.286-9.024,3.286l4.361,83.898c9.57,2.355,19.52,3.737,29.817,3.737c13.887,0,27.187-2.365,39.664-6.546
							l3.865-74.769c-10.185-2.239-18.87-8.724-24.314-16.857c-6.745-10.103,5.191-99.521,5.191-99.521h7.765v83.911h7.711V74.99h8.434
							v83.92h7.674V74.99h8.75v83.92h7.701V74.99h5.959c0,0,11.937,89.418,5.184,99.521c-5.392,8.055-13.996,14.519-24.053,16.813
							c-0.181,0.063-0.344,0.126-0.344,0.126l3.358,64.313c37.164-21.606,62.21-61.749,62.21-107.833
							C317.553,79.021,261.699,23.168,192.8,23.168z"/>
						<path d="M125.417,115.773c0.446-1.819,1.047-3.548,1.074-3.58c0.194-0.681-0.167-1.377-0.907-1.819
							c-0.705-0.379-1.562-0.185-1.959,0.424c0,0-0.853,1.359-2.09,3.368c-1.006,1.729-2.496,4.492-3.513,7.932
							c-0.88,3.015-1.932,7.024-2.406,11.511c-0.203,2.357-0.249,4.483-0.176,6.672c0.176,2.496,0.555,4.631,1.277,7.074
							c2.451,6.966,4.339,13.712,11.15,20.365c2.154,2.212,4.366,3.72,5.964,4.83l0.564,0.397c0.344,0.227,0.673,0.435,0.998,0.624
							c1.341,0.704,2.238,0.956,2.401,0.992c0.668,0.181,1.355-0.144,1.639-0.686c0.267-0.568,0.072-1.282-0.482-1.732
							c0,0-0.777-0.677-1.774-1.941c-0.682-0.768-1.422-1.879-2.284-3.132c-0.609-0.885-1.328-1.888-1.995-2.863
							c-3.319-5.065-5.232-12.135-7.878-19.377c-0.519-1.571-0.943-3.607-1.102-5.336c-0.211-1.996-0.311-3.918-0.311-5.702
							c-0.078-4.144,0.108-7.702,0.469-10.586C124.491,119.954,124.816,117.512,125.417,115.773z"/>
						<path d="M192.8,0C111.237,0,44.861,66.362,44.861,147.93c0,81.55,66.376,147.931,147.939,147.931
							c81.559,0,147.922-66.381,147.922-147.931C340.721,66.362,274.359,0,192.8,0z M192.8,284.828
							c-75.492,0-136.911-61.415-136.911-136.898c0-75.491,61.419-136.91,136.911-136.91c75.482,0,136.906,61.419,136.906,136.91
							C329.706,223.413,268.281,284.828,192.8,284.828z"/></g></g>
						<text transform="matrix(1 0 0 1 24.8235 358.8652)" font-family="'Roboto'" font-size="54">WANNA EAT?</text>
						</svg>
					<% end %>
				</li>
			<% else %>
			
			<li>
				<%= link_to login_path do %>
					<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="57px" height="57px" viewBox="0 0 466.176 466.176" enable-background="new 0 0 466.176 466.176"
		 			xml:space="preserve"><g><g>
					<polygon points="57.226,10.473 57.226,134.885 114.844,134.885 114.844,68.09 371.558,68.09 371.558,201.874 371.558,324.806 114.844,324.806 114.844,258.012 57.226,258.012 57.226,382.423 113.573,382.423 429.176,382.423 429.176,10.473"/>
					<polygon points="212.716,283.797 315.191,196.448 212.716,109.1 212.716,159.956 21.41,159.956 21.41,227.179 212.716,227.179"/></g></g>
					<text transform="matrix(1 0 0 1 128.5879 453.5879)" font-family="'Roboto'" font-size="70">LOG IN</text>
					</svg>
				<% end %>
			</li>

			<li>
				<%= link_to new_user_path do %>
					<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="57px" height="57px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><g>
					<path d="M251.25,421.5C367.644,421.5,462,327.144,462,210.75C462,94.356,367.644,0,251.25,0C134.856,0,40.5,94.356,40.5,210.75 C40.5,327.144,134.856,421.5,251.25,421.5z M251.25,39.516c94.57,0,171.234,76.665,171.234,171.234 c0,94.57-76.664,171.234-171.234,171.234c-94.57,0-171.234-76.664-171.234-171.234C80.016,116.18,156.68,39.516,251.25,39.516z M251.25,246.462c47.728,0,93.121-12.681,131.719-34.955c-5.999,73.449-63.031,130.961-131.719,130.961 c-68.687,0-125.718-57.574-131.719-131.021C158.129,233.722,203.522,246.462,251.25,246.462z M145.875,144.891 c0,21.824,11.795,39.516,26.344,39.516s26.344-17.692,26.344-39.516c0-21.824-11.795-39.516-26.344-39.516
					S145.875,123.066,145.875,144.891z M303.938,144.891c0,21.824,11.794,39.516,26.344,39.516s26.344-17.692,26.344-39.516 c0-21.824-11.794-39.516-26.344-39.516S303.938,123.066,303.938,144.891z"/>
					</g>
					<text transform="matrix(1 0 0 1 119.5 500.5)" font-family="'Roboto'" font-size="70">SIGN UP!</text>
					</svg>
				<% end %>
			</li>
		<% end %>
		 </ul>
         </div>
    </div>

    <nav class="column column-6">
        <div class="desktop-nav">
            <ul>
	            <% if @current_user.present? %>
					<li><%= link_to "Welcome #{ @current_user.name }!(logout)", login_path, :method => "delete", :data => {:confirm => "Are you sure you wish to logout?"} %></li>

					<li><div class="vertical-bar"></div></li>
					<li> 
						<%= link_to root_path do %>
							<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="57px" height="57px" viewBox="0 0 547.596 547.596" style="enable-background:new 0 0 547.596 547.596;" xml:space="preserve"><g>
							<path d="M540.76,254.788L294.506,38.216c-11.475-10.098-30.064-10.098-41.386,0L6.943,254.788
							c-11.475,10.098-8.415,18.284,6.885,18.284h75.964v221.773c0,12.087,9.945,22.108,22.108,22.108h92.947V371.067
							c0-12.087,9.945-22.108,22.109-22.108h93.865c12.239,0,22.108,9.792,22.108,22.108v145.886h92.947
							c12.24,0,22.108-9.945,22.108-22.108v-221.85h75.965C549.021,272.995,552.081,264.886,540.76,254.788z"/>
							</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
						<% end %>
					</li>
					<li> 
						<%= link_to user_path(@current_user) do %>
						<svg version="1.1" id="svg2" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg"
				 		xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="57.125px" height="57.125px" viewBox="-25.125 -25.125 57.125 57.125" enable-background="new -25.125 -25.125 57.125 57.125" xml:space="preserve"> <g id="background"> <rect fill="none" width="32" height="32"/></g>
						<g id="user_x5F_profile_x5F_edit">
						<path d="M-1.749,0.75c3.175,0,5.75-2.575,5.75-5.75s-2.575-5.75-5.75-5.75S-7.499-8.175-7.499-5S-4.924,0.75-1.749,0.75z M15.501-4.915v-12.184l-8.03-8.027h-26.47v46.001h34.5v-0.088C21.969,20.072,27,14.598,27,7.938
						C27,1.278,21.969-4.199,15.501-4.915z M6.873-21.656L12.03-16.5H6.873V-21.656z M-16.124,18v-40.253H4.001v8.627h8.625v8.711 C7.627-4.362,3.501-0.963,1.878,3.625c-5.121,0-12.252,0-12.252,0s-2.875,0-2.875,2.875c0,1.438,0,8.625,0,8.625H3.309 C4.035,16.212,4.926,17.181,5.942,18H-16.124z M14.063,17.999C8.507,17.987,4.01,13.493,4.001,7.938 C4.01,2.381,8.507-2.116,14.063-2.125c5.556,0.009,10.051,4.506,10.062,10.062C24.114,13.493,19.619,17.987,14.063,17.999z"/>
						<polygon points="12.625,13.688 8.312,13.688 8.312,9.375 	"/>
						<rect x="10.418" y="3.45" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -0.056 12.8638)" width="10.165" height="6.099"/></g>
						<text transform="matrix(1 0 0 1 -21.375 31)" text-align="center" font-family="'Roboto'" font-size="10">PROFILE</text>
						</svg>
				<% end %>
				</li>		
				<li> <%= link_to cook_path do %>
					
						<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="57px" height="57px" viewBox="0 0 380.719 380.719" enable-background="new 0 0 380.719 380.719" xml:space="preserve"><g><g>
						<path d="M236.437,188.578c-11.375,11.821-26.439,19.104-43.016,19.104c-17.01,0-32.455-7.659-43.921-20.031 c-43.859,14.127-51.64,48.768-51.64,61.84c0,16.603,0,37,0,37h186.262c0,0,0-10.125,0-27.514 C284.122,245.258,279.261,204.97,236.437,188.578z"/>
						<path d="M144.46,84.22v44.074c0,2.854,1.88,5.219,4.45,6.084c0,0.153-0.026,0.28-0.026,0.424c0,23.007,12.14,42.557,29.132,50.093 c0.132,0.071,0.275,0.123,0.411,0.193c1.342,0.56,2.711,1.076,4.118,1.495c0.289,0.087,0.564,0.183,0.853,0.263 c1.29,0.35,2.597,0.62,3.912,0.848c0.367,0.061,0.735,0.148,1.098,0.193c1.647,0.218,3.313,0.358,5.014,0.358 c1.684,0,3.332-0.131,4.967-0.349c0.35-0.045,0.682-0.132,1.005-0.184c1.338-0.219,2.668-0.49,3.961-0.848 c0.246-0.07,0.482-0.157,0.718-0.219c1.433-0.42,2.833-0.927,4.195-1.504c0.089-0.035,0.175-0.079,0.264-0.123 c17.153-7.432,29.428-27.078,29.428-50.216c0-0.065,0-0.126,0-0.188c3.148-0.451,5.613-3.047,5.613-6.321V80.863 c7.853-3.943,14.462-9.369,18.404-16.787c8.123-15.265,8.753-30.05,1.793-41.634c-6.941-11.549-20.494-18.164-37.203-18.164 c-11.941,0-22.634,5.237-31.396,11.873c-7.816-8.66-22.92-16.555-39.047-16.135c-10.417,0.271-25.185,4.127-36.437,20.996 c-5.801,8.673-7.576,17.857-5.29,27.278C118.729,66.096,136.84,79.329,144.46,84.22z M130.501,28.225 c6.544-9.81,15.274-14.924,25.929-15.191c11.619-0.271,23.34,5.517,28.971,11.729c-8.87,8.979-14.234,17.665-14.689,18.426 c-1.854,3.06-0.879,7.051,2.189,8.922c3.073,1.863,7.073,0.896,8.944-2.181c0.197-0.324,20.197-32.634,44.712-32.634 c12.023,0,21.509,4.314,26.037,11.842c4.512,7.501,3.751,17.735-2.133,28.821c-10.78,20.288-56.803,21.111-73.638,19.711 c-3.571-0.31-6.732,2.374-7.017,5.955c-0.307,3.585,2.352,6.732,5.937,7.029c0.722,0.062,5.63,0.446,12.817,0.446 c10.963,0,27.208-0.909,41.984-5.22v35.903h-73.058V80.555c0-2.374-1.29-4.546-3.357-5.705 c-0.236-0.114-23.056-13.005-27.086-29.669C125.64,39.381,126.768,33.829,130.501,28.225z"/></g></g>
						<text transform="matrix(1 0 0 1 7.8232 350.8652)" font-family="'Roboto'" font-size="54">WANNA COOK?</text>
						</svg>
					
					<% end %>
				</li>
				
				<li>
					<%= link_to categories_path do %>
							<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="57px" height="57px" viewBox="0 0 380.721 380.721" enable-background="new 0 0 380.721 380.721" xml:space="preserve"><g><g>
						<path d="M192.8,23.168c-68.908,0-124.761,55.853-124.761,124.762c0,49.65,29.078,92.394,71.062,112.474l3.905-75.455
							c0,0-7.346-2.411-8.954-3.196c-15.579-6.862-26.896-27.069-26.896-53.293c0-28.617,22.193-53.267,43.65-53.47
							c0.027,0,0.027,0,0.045,0c0.009,0,0.027,0,0.035,0c21.462,0.203,43.656,24.852,43.656,53.47c0,26.225-11.332,46.423-26.88,53.293
							c-0.121,0.054-9.024,3.286-9.024,3.286l4.361,83.898c9.57,2.355,19.52,3.737,29.817,3.737c13.887,0,27.187-2.365,39.664-6.546
							l3.865-74.769c-10.185-2.239-18.87-8.724-24.314-16.857c-6.745-10.103,5.191-99.521,5.191-99.521h7.765v83.911h7.711V74.99h8.434
							v83.92h7.674V74.99h8.75v83.92h7.701V74.99h5.959c0,0,11.937,89.418,5.184,99.521c-5.392,8.055-13.996,14.519-24.053,16.813
							c-0.181,0.063-0.344,0.126-0.344,0.126l3.358,64.313c37.164-21.606,62.21-61.749,62.21-107.833
							C317.553,79.021,261.699,23.168,192.8,23.168z"/>
						<path d="M125.417,115.773c0.446-1.819,1.047-3.548,1.074-3.58c0.194-0.681-0.167-1.377-0.907-1.819
							c-0.705-0.379-1.562-0.185-1.959,0.424c0,0-0.853,1.359-2.09,3.368c-1.006,1.729-2.496,4.492-3.513,7.932
							c-0.88,3.015-1.932,7.024-2.406,11.511c-0.203,2.357-0.249,4.483-0.176,6.672c0.176,2.496,0.555,4.631,1.277,7.074
							c2.451,6.966,4.339,13.712,11.15,20.365c2.154,2.212,4.366,3.72,5.964,4.83l0.564,0.397c0.344,0.227,0.673,0.435,0.998,0.624
							c1.341,0.704,2.238,0.956,2.401,0.992c0.668,0.181,1.355-0.144,1.639-0.686c0.267-0.568,0.072-1.282-0.482-1.732
							c0,0-0.777-0.677-1.774-1.941c-0.682-0.768-1.422-1.879-2.284-3.132c-0.609-0.885-1.328-1.888-1.995-2.863
							c-3.319-5.065-5.232-12.135-7.878-19.377c-0.519-1.571-0.943-3.607-1.102-5.336c-0.211-1.996-0.311-3.918-0.311-5.702
							c-0.078-4.144,0.108-7.702,0.469-10.586C124.491,119.954,124.816,117.512,125.417,115.773z"/>
						<path d="M192.8,0C111.237,0,44.861,66.362,44.861,147.93c0,81.55,66.376,147.931,147.939,147.931
							c81.559,0,147.922-66.381,147.922-147.931C340.721,66.362,274.359,0,192.8,0z M192.8,284.828
							c-75.492,0-136.911-61.415-136.911-136.898c0-75.491,61.419-136.91,136.911-136.91c75.482,0,136.906,61.419,136.906,136.91
							C329.706,223.413,268.281,284.828,192.8,284.828z"/></g></g>
						<text transform="matrix(1 0 0 1 24.8235 358.8652)" font-family="'Roboto'" font-size="54">WANNA EAT?</text>
						</svg>
					<% end %>
				</li>
			
		<% else %>

				<li>
					<%= link_to login_path do %>
						<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="57px" height="57px" viewBox="0 0 466.176 466.176" enable-background="new 0 0 466.176 466.176" xml:space="preserve">
						<g><g>
						<polygon points="57.226,10.473 57.226,134.885 114.844,134.885 114.844,68.09 371.558,68.09 371.558,201.874 371.558,324.806 114.844,324.806 114.844,258.012 57.226,258.012 57.226,382.423 113.573,382.423 429.176,382.423 429.176,10.473 		"/>
						<polygon points="212.716,283.797 315.191,196.448 212.716,109.1 212.716,159.956 21.41,159.956 21.41,227.179 212.716,227.179"/></g></g>
						<text transform="matrix(1 0 0 1 128.5879 453.5879)" font-family="'Roboto'" font-size="70">LOG IN</text>
						</svg>
					<% end %>
				</li>
				<li><div class="vertical-bar"></div></li>

				<li>
					<%= link_to new_user_path do %>
						<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="57px" height="57px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
						<g>
						<path d="M251.25,421.5C367.644,421.5,462,327.144,462,210.75C462,94.356,367.644,0,251.25,0C134.856,0,40.5,94.356,40.5,210.75 C40.5,327.144,134.856,421.5,251.25,421.5z M251.25,39.516c94.57,0,171.234,76.665,171.234,171.234
						c0,94.57-76.664,171.234-171.234,171.234c-94.57,0-171.234-76.664-171.234-171.234C80.016,116.18,156.68,39.516,251.25,39.516z M251.25,246.462c47.728,0,93.121-12.681,131.719-34.955c-5.999,73.449-63.031,130.961-131.719,130.961 c-68.687,0-125.718-57.574-131.719-131.021C158.129,233.722,203.522,246.462,251.25,246.462z M145.875,144.891
						c0,21.824,11.795,39.516,26.344,39.516s26.344-17.692,26.344-39.516c0-21.824-11.795-39.516-26.344-39.516
						S145.875,123.066,145.875,144.891z M303.938,144.891c0,21.824,11.794,39.516,26.344,39.516s26.344-17.692,26.344-39.516
						c0-21.824-11.794-39.516-26.344-39.516S303.938,123.066,303.938,144.891z"/>
						</g>
						<text transform="matrix(1 0 0 1 119.5 500.5)" font-family="'Roboto'" font-size="70">SIGN UP!</text>
						</svg>
					<% end %>
				</li>
		<% end %>
		 </ul>
        </div>
    </nav>
	<% if @current_user.present? %>
		<div class="column column-6 search blue">
		    <form action="/categories">
					<input type="text" class="search blue" placeholder="Search Postcode" id="nav-search" name="postcode">
					<button class="searchButton blue" id="nav-search-btn">Find Food</button>
			</form>
	 	</div>
	 	<% else %>
	 	<div class="column column-6">



	 	
	 	</div>
	 <% end %>
    <div class="title"><%= image_tag 'Pizza-50-edit.png' %></div>

</header>

<% if @current_user.nil? %>
	 
	 <div class="banner">
    	<h1>ANYTHING BUT PIZZA!</h1>
	</div>
<% end %>
<br>
<br>
<br>
<br>

<div class="container">
	<%= include_gon %>
	<%= yield %>
</div>

<footer>
 
</footer>

</body>
</html>
